<!doctype html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description", content="Graph Page">
        <meta name="author", content="Avi">
        <meta name="keywords", content="Graph, flask, plotly">
	<title> Graph 1 Page </title>
	<link rel="stylesheet", type="text/css", href="/static/style.css?version=2">
	<link rel="icon", href="/static/favicon.png">
	</head>
	<body>
		<header>
			<div id="branding">
				<h1><span class="highlight"> Plotly chart </span></h1>
			</div>
			<div class="container">
				<nav>
					<ul>
    						<li><h3><a href="/"> Return to index page </a></h3></li>
					</ul>
				</nav>
			</div>
		</header>
		<section class="showcase1">
    			<div id="chart" class="graph1"></div>
		</section>
		<footer>
			<p> This is a Plotly Chart </p>
		</footer>
	</body>

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript">
    		var graphs = {{graphJSON | safe}};
    		Plotly.plot('chart',graphs,{});        
	</script>
</html>