<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description", content="Welcome Page">
        <meta name="author", content="Avi">
        <meta name="keywords", content="Welcome, plotly">
        <title> Welcome Page </title>
        <link rel="stylesheet", type="text/css" href="/static/style.css">
        <link rel="icon", href="/static/favicon.png">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1> <span class="highlight"> Plotly with Flask </span> Flaskapp </h1>
                </div>
                <nav>
                    <ul>
                        <li class="current"> <a href="/index"> Home </a></li>
                        <li> <a href="/graph1"> Graph 1 </a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="showcase">
            <div class="container">
                <h1>
                    Dashboard using Flask and Plotly
                </h1>
                <p>
                    This is a Dashboard Index Page made with Flask
                </p>
            </div>
        </section>
        <section id="boxes">
            <div class="container">
                <div class="box">
                    <a href="/graph1">
                    <img src="/static/graph.png">
                    </a>
                    <h3> Go to First Graph </h3>
                    <p>
                        Go to the first test graph
                    </p>
                </div>
            </div>
        </section>
        <footer>
            <p>
                Flask app design
            </p>
        </footer>
    </body>
</html>
